.plus{
    font-size:20px;
    margin-right: 10px;
    cursor: pointer;
    color:green;
}
.minus{
    font-size:20px;
    margin-right: 10px;
    cursor: pointer;
    color: red;
}
.node{
    margin-left:10px;
}
.card:hover{
    background: aliceblue;
}