.plus{
    font-size:20px;
    margin-right: 10px;
    cursor: pointer;
    color:green;
}
.minus{
    font-size:20px;
    margin-right: 10px;
    cursor: pointer;
    color: red;
}
.node{
    margin-left:20px;
}
.btn-secondary{
    width:100%;
}
.button_tnf{
    width:25%;
}
.input_tree_name{
    width:73%;
}